<app-toolbar></app-toolbar>

<div role="main">
  {{ result }}
  <form [formGroup]="valueToConvert" (ngSubmit)="onSubmit()">
    <input id="value-to-convert" type="text" placeholder="e.g. XXIV" formControlName="value" />
  </form>
</div>

<footer>
  <form [formGroup]="configToConvert" (ngSubmit)="onSubmit()">
    <button type="submit">
      Convert
    </button>
    <input type="radio" name="type" formControlName="type" id="roman" value="roman" checked />
    <label for="roman">Roman</label>
    <input type="radio" name="type" formControlName="type" id="decimal" value="decimal" />
    <label for="decimal">Decimal</label>
  </form>

</footer>